# filepath: .dockerignore
# Dependencies
node_modules
npm-debug.log

# Next.js
.next
out

# Production
build
dist

# Misc
.DS_Store
*.pem
.git
.gitignore

# Debug
npm-debug.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Test
test.js